.container {
    margin-top: 30px;
}

.pageBodyCustom{
    min-height: 350px;
}

.inputContainer{
    margin-top: 20px;
}

.outputTitleText{
    font-size: 12.0px;
    margin-bottom: 8px;
    font-weight: 600;
}

.outputContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

